//#1a237e!important;
$secondary-color: #125688;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "node_modules/materialize-css/sass/materialize.scss";
html{font-family: 'Open Sans', sans-serif;background:#fff;}
.margin-top-5{margin-top:5%;}.margin-top-10{margin-top:10%;}.margin-top-15{margin-top:15%;}.margin-top-20{margin-top:20%;}.margin-top-25{margin-top:25%;}.margin-top-30{margin-top:30%;}.margin-top-35{margin-top:35%;}.margin-top-40{margin-top:40%;}.margin-top-45{margin-top:45%;}.margin-top-50{margin-top:50%;}
// .card .card-image img{max-height: 300px!important;max-width: 300px!important;}
