doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    nav
      .nav-wrapper.indigo.darken-4
        a.brand-logo(href='#!') #[img(src='/images/logo.png', alt='Logo')]
        ul#nav-movile.right.hide-on-med-and-down
          li #[a(href='#!') Link1]
          li #[a(href='#!') Link2]
          li #[a(href='#!') Link3]
    block content
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
